.container {
    width: min(95%, 1200px);/* minimo es 95 max es 120rem*/
    margin-inline: auto;  
}

/*UTILIDADES*/
.db{
    display: inline;
}

@media(min-width:768px){
    .db {
       display: block;
    }
}

.bgMorado {
    background-color: #967AAB;
}

.bgAmarillo {
    background-color: #EEC65C;
}

.bgAzul {
    background-color: #92C2E7;  
}

.bgRosa {
    background-color: #EDB4DD;  
}

.text-morado {
    color: #522582 !important;
}

.text-amarillo {
    color: #F6CA0C !important;
}

.text-rosa {
    color: #EC3C96 !important;
}

.text-bold{
    text-font:bold;
}

/*END UTILIDADES*/
    
.tabForm {
    display: flex;
}

.tabForm h2{
    color: #fff;
    font-family: "Merck", Sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.tab {
    display: none;
}

    @media(min-width:768px) {
        .tab {
            display: flex;  
        
            background-color: #503291;
            border-radius: 30px;
            flex-direction: row;
            justify-content: space-around;
            
            width: 1000px;
            margin-inline: auto;
        }
    }

    .tab div {
        
        padding: 30px 10px;
        text-align: center;
        transition: .3s ease-in-out background-color;
    }

    /* .tab div:hover{
        background-color: #643fba;
    } */

.tablinks {
    flex-grow: 1;   
    text-align: center;     
    text-decoration: none;  
    color: #fff;   

    font-family: "Merck", Sans-serif;
    font-size: 1.2rem;
}

.tablinks.active {
    border-bottom: 2px solid #F6CA0C; 
}

/* Tab Content */
   

       @media(max-width:425px){
            .tabContentMenu {
                display: block !important;
            }
       }

    .tabcontent {
        /* display: none; */
        padding: 20px 10px;    
    }

    @media(min-width:768px){
        .tabcontent {
            padding: 50px 10px; 
        }
    }

        .tabcontent .tab_imagen {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        
        }

        @media(min-width:768px){
            .tabcontent .tab_imagen {
                justify-content: space-evenly;
                flex-direction: row;
            }
       
        }

    .tabcontent .tab_imagen div {
        flex:1 0 50%;
        text-align: center;
    }

    .tabcontent .tab_imagen div h2{
        display: none;
        text-align: center;
        text-decoration: none;
        font-family: "Merck", Sans-serif;
        color:#EC3C96;
        font-size:1rem;
    }

    @media(max-width:425px){
        .tabcontent .tab_imagen div img {
            width: 75%;
        }

        
        .tabcontent .tab_imagen div h2{ 
            display: block;
        }
    }
    
  

/* Tab Content END  */




.card_sintomas {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "div1"
        "div2" ; */
}

    @media(min-width:768px){
        .card_sintomas {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 
            "div1 div2 div2"
            ;
        }
    }

.sintomas_image {
   display: none;
}

@media(min-width:768px){
    .sintomas_image {
        grid-area: div1;
        display: flex;
        flex-direction: column;
        justify-content: center;
     
        position: relative;
        
    }
}

.imgLogo {
    display: inline-block !important;
    width: 60%;
    text-align: center;
}

@media(min-width:768px) {
    .imgLogo {
        display: none !important;
    }
}

.sintomas_image img {  
    position: absolute; 
    width: 60%;
    z-index: 10;
}

    @media(min-width:768px) {
        .sintomas_image img { 
            right: -70px;
            width: 100%;
        }
    }

.sintomas_content {
    grid-area: div2;

    /* background-color: #967AAB; */
    border-radius: 30px;

    position: relative;
    padding: 80px 20px;
}


    @media(min-width:768px){
        .sintomas_content {
            height: 430px;
            padding: 50px 20px;
        }
    }

.sintomas_burble  {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
}

    @media(min-width:768px){
        .sintomas_burble  {
            grid-template-columns: repeat(2, 1fr);
        }
    }

.sintomas_burble .burble_content {
    position: relative; 
    text-align: center;

}

@media(min-width:768px){
    .sintomas_burble .burble_content {
        text-align: unset;
    }
}

.sintomas_burble .burble_content img {
    display: none;
}

    @media(min-width:768px){
        .sintomas_burble .burble_content img{
            /* width: 400px; */
            display: block;
        }
    }

.sintomas_burble .burble_content p {
   color: #fff !important;
    font-size: 1rem;

    color: var(--e-global-color-a122615 );
    font-family: "Verdana", Sans-serif;

    font-weight: 700;
    line-height: 1.2;
}

    @media(min-width:768px){
        .sintomas_burble .burble_content p {
            color: #522582 !important;
            position: absolute;
            font-size: .7rem;
            top: 50%;
            left: 54%;
            transform: translate(-50%, -50%);
            width: 250px;
        }
    }

.sintomas_burble .burble_resume {
    /* width: 300px; */
}

.sintomas_burble .burble_resume h2{
   margin-top: 1.2rem;
    color: #F6CA0C;
    font-family: "Merck", Sans-serif;
    font-size:1.5rem;
    font-weight: 400;
    text-align: right;
    margin-bottom: 0;
}

    @media(min-width:768px){
        .sintomas_burble .burble_resume h2{
               margin-top: unset;
            font-size:2.2rem;
        }
    }

.sintomas_burble  .burble_resume p{
    color: #E1A5C9;
    font-family: "Verdana", Sans-serif;
    text-align:right;
    margin: 0;
    font-size: 1.2rem;
}

@media(min-width:768px){
    .sintomas_burble  .burble_resume p{
        font-size: 1.5rem;
    }
}

.sintomas_resume {
    margin-top: 30px;
}

.sintomas_resume p {
    color: #fff;
    font-family: "Verdana", Sans-serif;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

    @media(min-width:768px){
        .sintomas_resume p {
            padding-left: 80px;
            font-size: .9rem;
            text-align: unset;
        }
    }

    @media(min-width:992px){
        .sintomas_resume p {
            padding-left: 110px;
            font-size: .9rem;
            text-align: unset;
        }
    }
